urls.db
server.log

server/__pycache__
*.pyc
target
.godot
mobile/addons
mobile/android

# ignore slave fiels
main_slave.py
urls_slave.db
config_slave.py
last_sync

# 本地缓存文件
local
downloads
processed
